{% extends 'main/base.html'%}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}
    <H1>Главная страница</H1>
{% if tasks %}
    {% for q in tasks %}
<div class="alert alert-warning mt-2">
<h3>{{ q.title }}</h3>
    <p>{{ q.task }}</p>
    </div>
    {% endfor %}
{% else %}
    <p>Пусто</p>
{% endif %}
{% endblock %}


{% block text %}
{% load static %}
{% for q in mains %}
<div class="alert alert-info mt-2">
<p>{{ q.title }}</p>
<p>{{ q.main }}</p>
    </div>
<p>{{ q.data }}</p>

{% endfor %}
{% endblock %}



