{% extends 'main/base.html'%}

{% block title %}
Registration
{% endblock %}

{% block content %}

<div class="p-3 mb-2 bg-light text-dark">
    {% csrf_token %}
    <center>
    <div class="form-group input-group">
    <span class="has-float-label">
    <label>Имя</label>
         {{ form.name }}
 </span>
 <span class="has-float-label">
     <label>Фамилия</label>
    {{ form.surname}}
      </span>
    </div>
    <label>E-mail</label>
    {{ form.mail }}
    <label>Пароль</label>
    {{ form.password }}
    <label>Введите повторно</label>
    {{ form.password_2 }}<br>
    <button type='submit' class="btn btn-danger">Зарегистрировать</button>
</div>
    </center>
{% endblock %}

{% block text %}
{% endblock %}