{% extends 'main/base.html'%}
{% load static %}

{% block title %}
Страница о нас
{% endblock %}

{% block content %}
<H1>Создать сообщение</H1>
<form method="post">
    {% csrf_token %}
    {{ form_2.title }}<br>
    <br>
    {{ form_2.body }}<br>
    {{ form.title }}<br>
    {{ form.main }}<br>
  <input type="text" class="form-control" placeholder="Введите ваше имя">
 <br>
 <textarea type="text" class="form-control" placeholder="Введите сообщение *" rows="8" required="required" ></textarea>
 <br>


<div class="container text-center">
<button type="reset" class="btn waves-effect waves-light btn-grd-danger "> Удалить </button>
    <button class="btn waves-effect waves-light hor-grd btn-grd-primary ">Отправить</button>


</div>
    </form>
{% endblock %}


{% block text %}
{% endblock %}